# Flutter / Dart
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.packages
frontend/pubspec.lock

# Android Studio
*.iml
.idea/
.gradle/
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/

# Python Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/.venv/

# OS files
.DS_Store
Thumbs.db
*.log